::-webkit-scrollbar {
    width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
    }
                          @media  ( min-width : 1000px) {
                             .nav-item{ margin-top: 1rem;}
                          }
                          .widget {
                          padding: 0;
                          margin-top: 0;
                          margin-bottom: 0;
                          border-radius: 6px;
                          -webkit-box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
                          -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
                          box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
                          }
                          .widget.box .widget-header {
                          background: #fff;
                          padding: 0px 8px 0px;
                          border-top-right-radius: 6px;
                          border-top-left-radius: 6px;
                          }
                          .widget .widget-header {
                          border-bottom: 0px solid #f1f2f3;
                          }
                          .widget.box .widget-header {
                          background: #fff;
                          padding: 0px 8px 0px;
                          border-top-right-radius: 6px;
                          border-top-left-radius: 6px;
                          }
                          .widget .widget-header {
                          border-bottom: 0px solid #f1f2f3;
                          }
                          .widget .widget-header:after {
                          clear: both;
                          }
                          .widget .widget-header:before, .widget .widget-header:after {
                          display: table;
                          content: "";
                          line-height: 0;
                          }
                          .widget-content-area {
                          padding: 20px;
                          position: relative;
                          background-color: #fff;
                          border-bottom-left-radius: 6px;
                          border-bottom-right-radius: 6px;
                          }
                          .story-container-1 {
                          display: flex;
                          align-items: center;
                          justify-content: flex-start;
                          }
                          .story-container-1 .single-create-story {
                          height: 175px;
                          width: 110px;
                          border-radius: 10px;
                          overflow: hidden;
                          position: relative;
                          margin-right: 10px;
                          margin-bottom: 10px;
                          background: #e4e4e4;
                          text-align: center;
                            /* margin: auto; */
  height: 100%;
  margin-top: 16px absolute!important;
  width: 100%;
  vertical-align: super;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  max-width: calc(9rem + 2.5vw);
  max-height: 3px;
                          }
                        
                          img.single-create-story-bg {
                        width: calc(3rem + 2vw) !important;
                        height: calc(3rem + 2vw) !important;
                          object-fit: cover;
                          }
                          .create-story-author img {
                          height: 40px;
                          width: 40px;
                          margin-top: -20px;
                          padding: 4px;
                          background: #e4e4e4;
                          border-radius: 50%;
                          }
                          .story-container-1 .single-story {
                          height: 175px;
                          width: 110px;
                          border-radius: 10px;
                          overflow: hidden;
                          position: relative;
                          margin-right: 10px;
                          margin-bottom: 10px;
                          }
                          .story-container-1 .single-story::before {
                          content: "";
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          right: 0;
                          left: 0;
                          background-image: linear-gradient(rgb(255 0 0 / 0%), black);
                          }
                          img.single-story-bg {
                              width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 114px;
      margin: -19%;
      border-radius: 5%;
                          }
                          .story-container-1 .story-author {
                          position: absolute;
                          top: 50%;
                          left: 0px;
                          transform: translateY(-50%);
                          right: 0px;
                          text-align: center;
                          z-index: 99;
                          cursor: pointer;
                          }
                          
                          .story-author img {
                          height: 60px;
                          width: 60px;
                          border-radius: 50%;
                          border: 1px solid white;
                          padding: 4px;
                          margin-top: calc(-3rem - -1vw);
                          }
                          
                          .story-container-1 .story-author p {
                          color: #fff;
                          width: 100%;
                          margin: 5px 0px 0px 0px;
                          font-weight: 600;
                          font-size: 12px;
                          }
                          
                          .create-story-author p {
                          margin: 0px;
                          font-size: 13px;
                          font-weight: 500;
                          }
                          
                          div.scrollmenu {
    
    overflow: auto;
    white-space: nowrap;
    }
    
     img :hover{
    border: 2px black;
    }

    .b{

        box-shadow: inset 0 0 4px 0px #7c7171;
        margin-left: 0px;
        width: 80%;
        height: 100%;
    }

    

    .b :hover{
        width:100% !important;

    }

    div.scrollmenu .a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
      max-width: calc(9rem + 2.5vw);
      max-height: 3px;
    }

    
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
    }
                          
    #pesquisar:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    #pesquisar {
        height: 100%;
    }

@media screen and (min-width:650px) {
    .criarq{
        margin-left: calc(1rem + 1vw) !important
    }
}

@media screen and (max-width:650px) {
    .criarq{
        margin-left: auto
    }
}
.carousel-inner{
height: calc(20rem + 20vw) !important;
}
.carousel-item{
    height: calc(20rem + 20vw) !important;
    }

.cont{
    display:contents;
}










